<h1>Dashboard</h1>

<div class="row">
  <div class="col-md-6">
    <div class="project-list">
      <% @projects.each do |project| %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <%= project.title %>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h5>Tarefas</h5>
                <ul class="project-tasks-list">
                  <% project.tasks.each do |task| %>
                    <% if task.isCompleted == false %>
                      <li class="project-task-row clearfix">
                        <div class="col-md-9">
                          <%= link_to task.title, dashboard_task_path(task) %>
                        </div>
                        <div class="col-md-1">
                          <%= form_tag ('/projects/' + project.id.to_s + '/tasks/' + task.id.to_s + '/complete') do  %>
                            <%= check_box "task", "isCompleted", { checked: task.isCompleted, "data-click-submits-form" => ""} %>
                          <% end %>
                        </div>
                        <div class="col-md-1">
                            <%= link_to edit_project_task_path(project, task) do %>
                              <span class="glyphicon glyphicon-pencil" aria-hidden="true" />
                            <% end %>
                        </div>

                        <div class="col-md-1">
                          <%= link_to project_task_path(project, task),
                                method: :delete,
                                data: { confirm: "Deseja excluir:" } do %>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" />
                          <% end %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <%= link_to 'Nova tarefa', new_project_task_path(project), class: 'btn btn-success' %>
      <% end %>
    </div>

    <% if @current_task != nil %>
      <div class="current-task">
        <h2>Tarefa atual: <%= @current_task.title %></h2>
        <div class="pomodoro-timer">
          <ul id="example">
            <li><span class="minutes">1</span><p class="minutes_text">Minutes</p></li>
            <li class="seperator">:</li>
            <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
          </ul>
          <span class="pomodoro-messages"></span>
          <%= link_to 'Iniciar', '#', { class: "start-pomodoro", 'data-project-id' => @current_task.project.id, 'data-task-id' => @current_task.id } %>
          <a href="#" class="pause-pomodoro">Pausar</a>
          <%= link_to 'Finalizar', '#', { class: "finish-pomodoro", 'data-project-id' => @current_task.project.id, 'data-task-id' => @current_task.id } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :scripts_footer do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".pomodoro-timer").each(function(){
        $(this).pomodoroCounter();

        var pomodoroInstance = $(this).data('pomodoroCounter');

        $(".start-pomodoro").click(function(){
          pomodoroInstance.start(0, 5, $(this).data('project-id'), $(this).data('task-id'));
        });

        $(".pause-pomodoro").click(function(){
          pomodoroInstance.pause();
        });

        $(".finish-pomodoro").click(function(){
          pomodoroInstance.doneTask($(this).data('project-id'), $(this).data('task-id'));
        });        
      });
    });
  </script>
<% end %>